.p_2 {
  color: #b7b7b7;
  text-align: center;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0 0 0;
  width: 90%;
  height: 188px;
}

body {
  display: flex;
  background-color: #12141d;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  align-items: center;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button:active {
  transform: matrix(0, 1, 1, 0, 0, 0);
  transition: 0.6s;
}

.img_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 286px;
  height: 42px;
}

.lorem {
  width: 286px;
  height: 51px;
  line-height: normal;
  color: #707070;
}

.name_2 {
  margin-bottom: 5px;
  margin-bottom: 0px;
}
.at {
  color: #1c93d7;
  margin-top: 0;
}

.what {
  font-size: 15px;
  color: #efefef;
  line-height: normal;
  font-weight: 600;
}

.cs {
  padding-top: 11px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.1px;
}

.color {
  background: var(
    --gradient,
    linear-gradient(100deg, #2e57eb 05%, #bb2bff 60%)
  );
  display: flex;
  width: 227px;
  border-radius: 15px;
  align-items: center;
  border: 1px solid #676767;
  height: 47px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  color: #e0e0e0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  flex-shrink: 0;
}

.noncolor {
  background: initial;
  display: flex;
  width: 227px;
  border-radius: 15px;
  align-items: center;
  border: 1px solid #676767;
  height: 47px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  color: #e0e0e0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  flex-shrink: 0;
}
.noncolor:hover {
  background: var(
    --gradient,
    linear-gradient(100deg, #2e57eb 05%, #bb2bff 60%)
  );
}
.color:hover {
  background: var(
    --gradient,
    linear-gradient(100deg, #2e57eb 05%, #bb2bff 60%)
  );
}

.h_7 {
  display: flex;
  flex-direction: column;
  gap: 16.031px;
  margin-top: 10px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: #bebebe;
  font-size: 13.63px;
  font-weight: 500;
}

.hi {
  display: flex;
  justify-content: center;
  margin-top: 91px;
}

.center_1 {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.foot_3 {
  display: flex;
  justify-content: center;
  gap: 15vw;
}

.link {
  color: #dcdcdc;
  font-size: 16.902px;
  font-style: normal;
  font-weight: 700;
}

.trial_1 {
  display: flex;
  width: 176px;
  height: 47px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  gap: 10px;
  flex-shrink: 0;
}

.bring {
  display: flex;
  align-items: flex-start;
  color: #e0e0e0;
  font-size: 28px;
  width: 476px;
  height: 76px;
  font-weight: 600;
  line-height: normal;
}

.gra1 {
  display: flex;
  width: 83%;
  height: 134px;
  justify-content: center;
  align-items: center;
  gap: 208px;
  background: var(--gradient, linear-gradient(90deg, #2b59ff 0%, #bb2bff 100%));
}

.k1 {
  display: flex;
  flex-direction: column;
  width: 229px;
  height: fit-content;
  color: #b7b7b7;
  align-items: flex-start;
}

.div_container2 {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.div_9 {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.deep {
  color: #e0e0e0;
  text-align: center;
  font-family: Outfit;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.p_0 {
  color: #b7b7b7;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.plan_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
}

.div_5 {
  display: flex;
  width: 289px;
  height: 550px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.div_container {
  display: flex;
  background-color: #252835;
  width: 100vmax;
  height: auto;
  padding: 0 0 37px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.p_12 {
  background: #252835;
  margin-top: 12px;
}

.big_5 {
  color: #e0e0e0;
  width: 410px;
  height: 100px;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 0;
}

.p_19 {
  color: #ddd;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  font-weight: 500;
  line-height: normal;
}

.plan {
  display: flex;
  width: 289px;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 30px;
  background: #252835;
}

.image {
  background-color: white;
  display: flex;
  width: 319px;
  height: 161px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.div_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  width: fit-content;
  align-items: center;
  background-color: #252835;
  color: #b7b7b7;
  box-sizing: border-box;
}
.flex_1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 1017px;
}
.p_1 {
  color: #e0e0e0;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 800px) {
  .flex_1 {
    display: flex;
    width: 381px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
  }

  body {
    overflow-x: hidden;
  }
  .hi_9 {
    width: fit-content;
  }
  .div_container {
    width: fit-content;
  }

  .plan_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 33.552px;
  }

  .gra1 {
    display: flex;
    width: 100v;
    height: 279px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
  }

  .bring {
    color: #e0e0e0;
    font-size: 30px;
    width: 312px;
    height: 152px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .foot_3 {
    width: 373px;
    height: 279px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
    grid-column-gap: 2px;
    grid-row-gap: 0px;
  }
  .one,
  .two {
    padding-left: 80px;
  }
  .two {
    gap: 12.5px;
  }
  .p_2 {
    margin-bottom: 26px;
  }
  @media (max-width: 450px) {
    .p_2 {
      width: 400px;
    }
    /* .p_1 {
      padding-left: 25px;
      padding-right: 25px;
      box-sizing: border-box;
    } */
    .p_1 {
      width: 380px;
    }
    .div_container2 {
      width: 390px;
    }
    .div_1 {
      width: 380px;
    }
  }
}
