body {
  box-sizing: border-box;
  z-index: -3;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #12141d;
  transition: opacity 0.75s, visibility 0.75s;
}
.loader-hidden {
  opacity: 0;
  visibility: hidden;
}
.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #12141d;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.blogdiv {
  position: relative;
  background-color: #12141d;
  height: fit-content;
  margin: 0;
  box-sizing: border-box;
  z-index: 2;
}
.blogbacklight {
  position: absolute;
  bottom: 25vh;
  left: 17vw;
  width: 499px;
  height: 499px;
  flex-shrink: 0;
  border-radius: 499px;
  background: rgba(63, 160, 251, 0.1);
  filter: blur(75px);
  z-index: -1;
}
.blogbacklight2 {
  position: absolute;
  top: 45vh;
  left: 45vw;
  width: 399px;
  height: 399px;
  flex-shrink: 0;
  border-radius: 499px;
  background: rgba(63, 160, 251, 0.1);
  filter: blur(75px);
  z-index: -1;
}
.blogcontents {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.blogcontents img {
  width: 352px;
  height: 350px;
  flex-basis: 30%;
  padding-left: 25%;
}
.blogtext {
  flex-basis: 40%;
  text-align: left;
  margin-right: 2vw;
  color: antiquewhite;
  box-sizing: border-box;
  box-sizing: border-box;
}
.blogtext p,
.blogtext2 p {
  font-size: 22px;
  width: 80%;
  height: 63%;
  margin-bottom: 7px;
  color: rgb(187, 176, 161);
}
.blogcontents2 {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.blogcontents2 img {
  width: 352px;
  height: 350px;
  flex-basis: 30%;
  margin-right: 21vw;
}
.blogtext2 {
  flex-basis: 40%;
  text-align: left;
  color: antiquewhite;
  padding-left: 5%;
}
.pagesdiv {
  background-color: #12141d;
  height: fit-content;
  padding: 3vw 0 3vw;
  color: antiquewhite;
  box-sizing: border-box;
  z-index: -2;
  transition: 0.6s;
}
.pagesbacklight {
  position: absolute;
  left: 60vw;
  width: 499px;
  height: 499px;
  flex-shrink: 0;
  border-radius: 499px;
  background: rgba(63, 160, 251, 0.1);
  filter: blur(75px);
  z-index: 0;
}
.pagesheader {
  display: flex;
  justify-content: center;
}
.pagesdiv h3 {
  width: 50%;
  text-align: center;
}
.pagesblock {
  background-color: #12141d;
  height: 60vh;
  width: 60vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.flexBasic {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonsdiv {
  width: 20vw;
  height: 60vh;
  border-radius: 10px;
  flex-basis: 30%;
}
.display {
  width: 40vw;
  height: 57vh;
  border-radius: 15px;
  flex-basis: 60%;
  background-color: #282a37;
  margin-bottom: 8px;
  margin-top: 3px;
  box-sizing: border-box;
  z-index: 1;
  transition: 0.6s;
}
.buttonsdiv {
  justify-content: center;
}
.buttonsdiv button {
  background: #1c1f2983;
  width: 80%;
  height: 14.33%;
  border-radius: 4px;
  margin-top: 6px;
  outline: none;
  border: 1px solid rgb(46, 40, 40);
  color: white;
  transition: 0.6s;
  cursor: pointer;
  z-index: 1;
}
.buttonsdiv button:active {
  background: linear-gradient(90deg, #2b59ff 0%, #bb2bff 100%);
  transform: matrix(0, 1, 1, 0, 0, 0);
}
.buttonsdiv button:hover {
  background: linear-gradient(90deg, #2b59ff 0%, #bb2bff 100%);
}
.circle {
  width: auto;
  margin: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.circle div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.circle div:first-child {
  background-color: red;
}
.circle div:nth-child(2) {
  background-color: green;
}
.circle div:last-child {
  background-color: blue;
}
.pagescomp {
  font-size: 14px;
}
.pagescomp li {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 17px;
}
.pagescomp h5 {
  padding-left: 15px;
}
hr {
  background-color: red;
}
.buttoncomp button:hover {
  cursor: pointer;
  transform: scale(0.95);
}

@media (max-width: 1150px) {
  .blogdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 21px;
  }
  .blogdiv h3 {
    width: 80%;
  }
  .blogcontents {
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .blgcntsimg {
    width: 240px;
  }
  .blogcontents img {
    width: 80vw;
    height: 45vh;
    padding-left: 22%;
  }
  .blogtext {
    text-align: left;
    width: 90vw;
    padding-left: 0;
    margin-right: 0;
  }
  .blogcontents2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
  }
  .blogcontents2 img {
    width: 80vw;
    height: 45vh;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 14%;
  }
  .blogtext2 {
    text-align: left;
    padding-left: 13.5%;
    width: 90vw;
  }
  .body {
    width: fit-content;
  }
  .pagesdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    padding-left: 20.1vw;
    padding-right: 20.1vw;
  }
  .pagesheader h3 {
    font-size: 17px;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    /* margin-left: 100px; */
  }
  .pagesblock {
    display: block;
  }
  .buttonsdiv {
    width: fit-content;
    height: 60vh;
    border-radius: 10px;
    flex-basis: 30%;
  }
  .buttonsdiv button {
    font-size: 20px;
    display: grid;
    justify-content: center;
    width: 60vw;
  }
  .display {
    width: fit-content;
    height: fit-content;
    padding: 10px;
  }
  .pagescomp {
    width: 70%;
    height: 14.33%;
    font-size: 21.6px;
  }
  .pagescomp {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .pagescomp li {
    margin-left: 25px;
  }
  .pagesbacklight {
    position: absolute;
    top: 100vh;
    display: none;
  }
  .blogbacklight2 {
    display: none;
  }
  .blogbacklight {
    display: none;
  }
}
@media (max-width: 420px) {
  .blogtext {
    margin-left: 13.5%;
  }
  .blogcontents2 img {
    padding-top: 5px;
  }
  .display {
    height: fit-content;
  }
}
